body {
    background: #7eb2be;
    padding: 0;
    font-family: sans-serif;
}

hr {
    border: none;
    height: 1px;
    background: #8BD3E4;
}

a, a:visited {
    color: #3A717D;
}

.padding {
    padding: 10px;
}

.more-links {
    font-size: 9pt;
}

.dictionary-view {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: block;
    border: solid 2px #367583;
    background: #ffffff;
}

.dictionary-view h1 { padding: 0; margin: 0; }

.dictionary-view .about-view {
    font-size: 10pt;
    background: #E5F9FE;
}

.dictionary-view .about-view h1 {
    font-size: 10pt;
}

.dictionary-view .combined-view {
    margin-top: 20px;
}

.dictionary-view .combined-view .about-view {
    float: right;
    width: 25%;
}

.dictionary-view .combined-view .search-area {
    float: left;
    width: 74%;
}

.dictionary-view .search-area {
}

.dictionary-view .search-classification .col.search-term {
    float: left;
    width: 75%;
}

.dictionary-view .search-classification .search-terms {
    width: 100%;
}

.dictionary-view .search-classification .col.classification {
    float: right;
    width: 20%;
}

.dictionary-view .search-area .radio-buttons .radio {
    width: 25%;
    display: block;
    float: left;
}

.dictionary-view .search-area .filter-button {
    width: 100%;
    border: outset 2px #000;
    background: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
}

.dictionary-view table {
    width: 100%; 
    border-spacing: 0px;
}

.dictionary-view table tr td {
    border-top: solid 1px #367583;
    padding: 5px;
}

.dictionary-view table tr:nth-child(even) {
    background: #E5F9FE;
}

.dictionary-view table tr:nth-child(odd) {
    background: #F6FDFF;
}

.dictionary-view .results-view {
    border-top: solid 1px #8BD3E4;
    margin-top: 5px;
    padding-top: 5px;
}

.dictionary-view .results-view .dictionary-entry {
    border: solid 1px #367583;
    margin: 10px;
    padding: 10px;
    font-size: 10pt;
}

table tr th.laadan          { width: 10%; }
table tr th.language        { width: 20%; }
table tr th.description     { width: 40%; }
table tr th.classification  { width: 10%; }

.dictionary-view .results-view .dictionary-entry .label {
    font-size: 9pt;
}

.dictionary-view .results-view .dictionary-entry .laadan { 
    font-weight: bold;
    text-align: center;
}

.dictionary-view .results-view .dictionary-entry .language { 
}

.dictionary-view .results-view .dictionary-entry .description { 
}

.dictionary-view .results-view .dictionary-entry .classification { 
}

.dictionary-view .results-view .dictionary-entry .breakdown { 
    color: #1A60B3;
    background: #C4DFFF;
    border-radius: 15px;
    font-size: 9pt;
    padding: 5px 15px;
    margin: 10px;
}

.dictionary-view .results-view .dictionary-entry .notes { 
    color: #AE0259;
    background: #FFC4E2;
    border-radius: 15px;
    font-size: 9pt;
    padding: 5px 15px;
    margin: 10px;
}







.dictionary-view .results-view .dictionary-entry-editable {
    border: solid 1px #367583;
    margin: 10px;
    padding: 10px;
    font-size: 10pt;
}

.dictionary-view .results-view .dictionary-entry-editable .label {
    font-size: 9pt;
}

.dictionary-view .results-view .dictionary-entry-editable .laadan { 
    float: left;
    width: 30%;
    margin-right: 20px;
}

.dictionary-view .results-view .dictionary-entry-editable .language { 
    float: left;
    width: 30%;
    margin-right: 20px;
}

.dictionary-view .results-view .dictionary-entry-editable .description { 
}

.dictionary-view .results-view .dictionary-entry-editable .classification { 
    float: left;
    width: 30%;
    margin-right: 20px;
}

.dictionary-view .results-view .dictionary-entry-editable .breakdown { 
    float: left;
    width: 30%;
    margin-right: 20px;

}

.dictionary-view .results-view .dictionary-entry-editable .notes { 
    float: left;
    width: 30%;
    margin-right: 20px;

}

.dictionary-view .results-view .dictionary-entry-editable input[type=text] {
    width: 98%;
}





.dictionary-view .search-area .btn-wait {
    border: outset 2px #be7e7e;
    background: #e9c9c9;
}

.dictionary-view .search-area .btn-ready {
    border: outset 2px #7ebe8a;
    background: #c9e9ce;
}


.form-submit { width: 100%; }
.delete-word { 
    width: 25%; 
    background: #FFC3C3; 
    font-size: 8pt;
    color: #000;
    float: right;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
